html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  color: #333333;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif; }

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.container {
  display: grid;
  width: 100%;
  grid-template-rows: min-content 80vh repeat(6, min-content);
  grid-template-columns: [full-start] minmax(8rem, 1fr) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(8rem, 1fr) [full-end]; }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: min-content 50vh repeat(6, min-content);
      justify-content: center;
      overflow-x: hidden; } }

.footer {
  background-color: #ffff00;
  grid-row: 4 / 5;
  grid-column: full-start / full-end; }

a {
  text-decoration: none; }

.heading-1 {
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  font-family: "Merriweather", serif; }

.brand-logo {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .2rem;
  font-weight: 600;
  text-align: center;
  margin: auto; }

.S-span {
  font-size: 2.5rem; }

.heading-2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5rem;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Merriweather", serif; }

.heading-3 {
  text-transform: uppercase;
  color: #333333;
  letter-spacing: .5rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  font-family: "Merriweather", serif; }

.heading-4 {
  text-transform: uppercase;
  color: #333333;
  letter-spacing: .3rem;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  font-family: "Merriweather", serif; }

.about__text {
  text-align: center; }

.expert {
  border-left: solid 0.3rem #008000;
  border-right: solid 0.3rem #008000;
  box-shadow: 0 0 1.5rem #008000;
  font-style: italic;
  margin-left: 1.5rem;
  padding: .4rem; }

.advanced {
  border-left: solid 0.3rem #ff8000;
  border-right: solid 0.3rem #ff8000;
  font-style: italic;
  box-shadow: 0 0 1.5rem #ff8000;
  margin-left: 1.5rem;
  padding: .4rem; }

.U-margin-bottom-lg {
  margin-bottom: 4rem; }

.U-margin-bottom-md {
  margin-bottom: 3rem; }

.U-margin-bottom-sm {
  margin-bottom: 2rem; }

.U-margin-bottom-xs {
  margin-bottom: 1rem; }

.U-margin-top-lg {
  margin-top: 4rem; }

.U-margin-top-md {
  margin-top: 3rem; }

.U-margin-top-sm {
  margin-top: 2rem; }

.U-margin-top-xs {
  margin-top: 1rem; }

.btn, .btn:link, .btn:visited {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #fff;
  backface-visibility: hidden;
  color: #333333;
  display: inline-block;
  padding: 1rem 1rem;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.2);
  transition: all .3s;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1.3rem); }
  .btn:hover::after {
    outline: none;
    transform: scaleX(1.2) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.section-skills {
  grid-row: 4 / 5;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  text-align: center;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .section-skills {
      grid-column: center-start / center-end;
      justify-content: center; } }
  .section-skills .skills {
    grid-row: 3 / 4;
    display: grid;
    grid-gap: 1.5rem;
    align-items: center;
    justify-items: center; }
    .section-skills .skills .skills-description {
      grid-row: 1 / 2;
      text-align: center; }
    .section-skills .skills .skills-list {
      grid-row: 2 / 3;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;
      justify-items: center; }
      @media only screen and (max-width: 37.5em) {
        .section-skills .skills .skills-list {
          grid-template-columns: auto; } }
      .section-skills .skills .skills-list .myskills {
        background-color: #f9f7f6;
        display: grid;
        justify-items: center;
        align-items: center;
        box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2); }
        .section-skills .skills .skills-list .myskills__img {
          width: 100%;
          grid-row: 1 / 2;
          grid-column: 1 / -1;
          transition: all .3s; }
          @media only screen and (min-width: 50em) {
            .section-skills .skills .skills-list .myskills__img:hover {
              border: 0.4rem solid #676767;
              filter: brightness(0.6);
              transform: scale(1.45);
              z-index: 11; }
            .section-skills .skills .skills-list .myskills__img:hover + .myskills__hidden-title {
              opacity: 1;
              display: inline-block; } }
        .section-skills .skills .skills-list .myskills__hidden-title {
          grid-row: 1 / 2;
          grid-column: 1 / -1;
          align-self: center;
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          font-size: 1.5rem;
          z-index: 999;
          opacity: 0;
          display: none;
          height: 0; }
        .section-skills .skills .skills-list .myskills__title {
          background-color: #333333;
          color: #fff;
          grid-row: 1 / 2;
          grid-column: 1 / -1;
          align-self: end;
          justify-self: center;
          z-index: 10;
          transform: translateY(100%);
          width: 80%;
          padding: 1rem; }
          @media only screen and (max-width: 50em) {
            .section-skills .skills .skills-list .myskills__title {
              font-size: .6rem; } }
        .section-skills .skills .skills-list .myskills .skill-subtitle {
          grid-row: 2 / 3;
          grid-column: 1 / -1;
          display: grid;
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 5rem;
          grid-row-gap: 4rem;
          justify-items: baseline;
          align-items: center;
          margin-top: 1rem;
          padding: 2rem 1.5rem;
          font-size: 1.2rem; }
          .section-skills .skills .skills-list .myskills .skill-subtitle__skill1 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            margin-top: 1rem; }
          .section-skills .skills .skills-list .myskills .skill-subtitle__skill2 {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            margin-top: 1rem; }
          .section-skills .skills .skills-list .myskills .skill-subtitle__skill3 {
            grid-row: 2 / 3;
            grid-column: 1 / 2; }
          .section-skills .skills .skills-list .myskills .skill-subtitle__skill4 {
            grid-row: 2 / 3;
            grid-column: 2 / 3; }

.footer {
  grid-row: 5 / 6; }

.nav {
  background-color: #333333;
  width: 100%;
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  z-index: 1000;
  grid-gap: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      grid-template-columns: repeat(3, 1fr);
      border-bottom: solid 0.2rem rgba(103, 103, 103, 0.8);
      padding: .5rem; } }
  .nav__brand {
    color: #fff;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 1.6rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .nav__brand {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-items: center;
        justify-self: center;
        text-align: center;
        font-size: 2rem; }
        .nav__brand--S-span {
          font-size: 3rem; } }
  .nav__item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    list-style: none;
    text-transform: uppercase;
    align-self: center;
    justify-items: center; }
    @media only screen and (max-width: 37.5em) {
      .nav__item {
        display: block;
        grid-row: 2/ 3;
        grid-column: 1 / -1;
        width: 100%;
        grid-gap: 0;
        padding: .4rem .5rem;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        justify-self: start;
        border-top: 0.2rem solid #676767; } }
  .nav__displayitem {
    opacity: 1;
    display: block;
    transition: ease-in all 2s; }
  @media only screen and (max-width: 37.5em) {
    .nav__list {
      margin-bottom: 1rem;
      padding: .4rem 0; } }
  .nav__link {
    color: #fff;
    text-decoration: none; }
    @media only screen and (max-width: 37.5em) {
      .nav__link {
        font-size: 2rem;
        font-family: "Merriweather", serif; } }
  .nav__social {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .nav__social {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        justify-self: start;
        font-size: 3rem;
        border-right: 0.2rem solid rgba(103, 103, 103, 0.9); } }
  .nav__icon {
    font-size: 1.5rem;
    color: #fff;
    background-color: #333333;
    padding: .5rem;
    box-shadow: 1.5 rgba(255, 255, 255, 0.7); }
    @media only screen and (max-width: 37.5em) {
      .nav__icon {
        font-size: 3rem; } }
  .nav__togglecontainer {
    opacity: 0;
    display: none;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .nav__togglecontainer {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        display: block;
        opacity: 1;
        justify-self: end; } }
  .nav__toggle {
    font-size: 3rem;
    color: #fff; }
    @media only screen and (max-width: 37.5em) {
      .nav__toggle {
        border-left: 0.2rem solid rgba(103, 103, 103, 0.9);
        padding: 1rem; } }

.head {
  background-image: linear-gradient(rgba(249, 247, 246, 0.8), rgba(51, 51, 51, 0.9)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 1.5rem;
  width: 100%; }

.header__header-1 {
  color: #fff;
  font-size: 3rem; }
  .header__header-1--S-span {
    font-size: 4rem; }

.section-about {
  grid-row: 3 / 4;
  grid-column: center-start / center-end;
  display: grid;
  width: 100%;
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .section-about {
      justify-content: center;
      grid-column: full-start / full-end; } }
  .section-about .contentheading1 {
    grid-row: 1 / 2;
    text-align: center; }
  .section-about .inspiration {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    justify-items: center;
    grid-gap: 1.5rem; }
    @media only screen and (max-width: 62.5em) {
      .section-about .inspiration {
        justify-content: center;
        grid-template-columns: repeat(2, 1fr); } }
    .section-about .inspiration .inspirations {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      justify-items: center;
      align-items: center;
      text-align: center;
      height: 100%;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
      padding: .2rem; }
      .section-about .inspiration .inspirations__icon {
        grid-row: 1 / 2;
        align-self: center;
        background-image: linear-gradient(to right bottom, #800000, #333333, #f9f7f6);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 4rem; }
      .section-about .inspiration .inspirations__heading {
        grid-row: 2 / 3; }
      .section-about .inspiration .inspirations__subtitle {
        grid-row: 3 / 4;
        padding: 0 1.5rem; }
