.html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    .html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  font-weight: 500;
  font-size: .9rem; }

.container {
  display: grid;
  grid-template-rows: min-content 80vh repeat(6, min-content);
  grid-template-columns: [full-start] minmax(8rem, 1fr) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(8rem, 1fr) [full-end]; }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: min-content max-content repeat(6, min-content);
      justify-items: center;
      padding: 0 1rem; } }

.footer {
  background-color: #ffff00;
  grid-row: 4 / 5;
  grid-column: full-start / full-end; }

a {
  text-decoration: none; }

.heading-1 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .5rem;
  font-style: italic;
  font-size: 2rem;
  font-weight: 700;
  text-align: center; }

.brand-logo {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .2rem;
  font-style: italic;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: auto; }

.S-span {
  font-size: 1.5em; }

.heading-2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500; }

.heading-3 {
  text-transform: uppercase;
  color: #333333;
  letter-spacing: .5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center; }

.heading-4 {
  text-transform: uppercase;
  color: #333333;
  letter-spacing: .3rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: center; }

.about__text {
  text-align: center; }

.U-margin-bottom-lg {
  margin-bottom: 4rem; }

.U-margin-bottom-md {
  margin-bottom: 3rem; }

.U-margin-bottom-sm {
  margin-bottom: 2rem; }

.U-margin-top-lg {
  margin-top: 4rem; }

.U-margin-top-md {
  margin-top: 3rem; }

.U-margin-top-sm {
  margin-top: 2rem; }

.btn, .btn:link, .btn:visited {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #fff;
  backface-visibility: hidden;
  color: #400000;
  display: inline-block;
  padding: 1.5rem 1.5rem;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.2);
  transition: all .3s;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1.3rem); }
  .btn:hover::after {
    outline: none;
    transform: scaleX(1.2) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.section-about {
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  padding: 1.5rem; }
  .section-about .contentheading1 {
    grid-row: 1 / 2;
    width: 80%;
    padding: 1rem;
    text-align: center; }
  .section-about .inspiration {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: center;
    justify-items: center;
    grid-gap: 1.5rem; }
    .section-about .inspiration .inspirations {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
      text-align: center;
      padding: 0 1rem; }
      .section-about .inspiration .inspirations__icon {
        grid-row: 1 / 2;
        background-image: linear-gradient(to right bottom, #800000, #333333, #f9f7f6);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 5rem; }
      .section-about .inspiration .inspirations__heading {
        grid-row: 2 / 3; }
      .section-about .inspiration .inspirations__subtitle {
        grid-row: 3 / 4;
        padding: 0 1.5rem; }

.section-skills {
  grid-row: 4 / 5;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  text-align: center;
  padding: 0 1rem; }
  .section-skills .skills {
    grid-row: 3 / 4;
    display: grid;
    grid-gap: 1.5rem;
    align-items: center;
    justify-items: center; }
    .section-skills .skills .skills-description {
      grid-row: 1 / 2;
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
      text-align: center; }
      .section-skills .skills .skills-description__text {
        padding: 1rem 1.5rem; }
    .section-skills .skills .skills-list {
      grid-row: 2 / 3;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      grid-gap: 1.5rem;
      justify-items: center; }
      .section-skills .skills .skills-list .myskills {
        background-color: #f9f7f6;
        display: grid;
        justify-items: center;
        align-items: center;
        position: relative; }
        .section-skills .skills .skills-list .myskills__img {
          width: 100%;
          grid-row: 1 / 2;
          grid-column: 1 / -1;
          transition: all .3s; }
          .section-skills .skills .skills-list .myskills__img:hover {
            border: 0.4rem solid #676767;
            filter: brightness(0.6);
            transform: scale(1.45);
            z-index: 11;
            margin-bottom: 1.2rem; }
          .section-skills .skills .skills-list .myskills__img:hover + .myskills__hidden-title {
            opacity: 1;
            display: inline-block; }
        .section-skills .skills .skills-list .myskills__hidden-title {
          grid-row: 1 / 2;
          grid-column: 1 / -1;
          align-self: center;
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          font-size: 1.5rem;
          z-index: 999;
          opacity: 0;
          height: 0; }
        .section-skills .skills .skills-list .myskills__title {
          background-color: #333333;
          color: #fff;
          grid-row: 1 / 2;
          grid-column: 1 / -1;
          align-self: end;
          justify-self: center;
          z-index: 10;
          transform: translateY(80%);
          width: 70%;
          padding: 1rem;
          text-transform: lowercase;
          font-style: italic; }
        .section-skills .skills .skills-list .myskills .skill-subtitle {
          grid-row: 2 / 3;
          grid-column: 1 / -1;
          display: grid;
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 5rem;
          grid-row-gap: 4rem;
          justify-items: baseline;
          align-items: center;
          padding: 2rem 1.5rem; }
          .section-skills .skills .skills-list .myskills .skill-subtitle__skill1 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            margin-top: 1rem; }
          .section-skills .skills .skills-list .myskills .skill-subtitle__skill2 {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            margin-top: 1rem; }
          .section-skills .skills .skills-list .myskills .skill-subtitle__skill3 {
            grid-row: 2 / 3;
            grid-column: 1 / 2; }
          .section-skills .skills .skills-list .myskills .skill-subtitle__skill4 {
            grid-row: 2 / 3;
            grid-column: 2 / 3; }

.footer {
  grid-row: 5 / 6; }

.nav {
  background-color: #333333;
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center; }
  .nav__brand {
    color: #fff;
    width: 10rem;
    padding-left: 2rem;
    align-self: center;
    justify-self: start;
    grid-column: 1 / 2; }
  .nav__item {
    grid-column: 2 / 4;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1.5rem;
    list-style: none;
    text-transform: uppercase;
    justify-items: center;
    align-items: center; }
  .nav__link {
    color: #fff;
    text-decoration: none; }
  .nav__social {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
  .nav__icon {
    font-size: 1.5rem; }
    .nav__icon--1 {
      border-radius: 10rem;
      color: #fff;
      line-height: 250px;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); }
    .nav__icon--2 {
      color: #fff;
      background-color: #333333;
      padding: .5rem;
      box-shadow: 1.5 rgba(255, 255, 255, 0.7); }

.head {
  background-image: linear-gradient(rgba(249, 247, 246, 0.8), rgba(51, 51, 51, 0.9)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 1.5rem; }
