@keyframes slideup {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); } }

@keyframes slidedown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); } }

@keyframes slideleft {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(20%); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); } }

@keyframes slideright {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20%); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); } }

.btn, .btn:link, .btn:visited {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #fff;
  backface-visibility: hidden;
  color: #333333;
  display: inline-block;
  padding: 1rem 1rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
  transition: all .3s;
  cursor: pointer;
  margin: 1rem; }

.btn:hover {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.6);
  transform: translateY(1rem); }
  .btn:hover::after {
    outline: none;
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(1.2rem);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4); }

.btn-wine {
  background-color: #400000;
  color: #fff; }

.btn-wine-outline {
  background-color: #fff;
  color: #400000;
  border: 0.1rem solid rgba(64, 0, 0, 0.5); }

.card-1 {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
  border: 0.5 solid #666;
  padding: 1.5rem; }
  .card-1__img {
    grid-row: 1 / 2;
    width: 100%; }
  .card-1__title {
    grid-row: 2 / 3;
    text-transform: uppercase; }
  .card-1__btn {
    grid-row: 3 / 4;
    text-transform: uppercase; }

.footer {
  grid-row: 8 / 9;
  grid-column: full-start / full-end;
  color: #fff;
  background-color: #333333;
  width: 100%;
  display: grid;
  grid-gap: 1.5rem;
  padding: 1.5rem 0;
  justify-items: center;
  align-items: center;
  text-align: center; }
  .footer__box {
    display: grid;
    grid-gap: 1.5rem;
    justify-items: center;
    align-items: center;
    text-align: center; }
  .footer__header {
    grid-row: 1 / 2; }
  .footer .social {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; }
  .footer__copyright {
    grid-row: 3 / 4;
    color: #fff; }

.form-section {
  background-image: linear-gradient(to right bottom, #676767, #333333, #800000); }
  @media only screen and (max-width: 50em) {
    .form-section {
      grid-column: full-start / full-end;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 1.5rem;
      justify-items: center;
      align-items: center;
      text-align: center;
      width: 100%; } }
  @media only screen and (max-width: 50em) and (max-width: 37.5em) {
    .form-section {
      justify-content: center; } }

.form {
  display: grid;
  grid-gap: 5rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 1.5rem 0; }
  .form__header {
    grid-row: 1 / 2;
    width: 100%;
    border-bottom: 0.2rem solid #676767; }
  .form__subtitle {
    grid-row: 2 / 3;
    color: #fff !important;
    text-align: center; }
  .form__group-container {
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    grid-gap: 1.5rem; }
  .form__group {
    display: grid;
    grid-gap: 1.5rem;
    justify-items: center; }
  .form__label {
    grid-row: 1 / 2;
    justify-self: start;
    padding-left: 3rem; }
    @media only screen and (max-width: 62.5em) {
      .form__label {
        padding-left: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__label {
        padding-left: 3rem; } }
  .form__input {
    grid-row: 2 / 3;
    width: 90%;
    padding: 1rem; }
  .form__submit {
    grid-row: 3 / 4;
    width: 90%; }

.head {
  background-image: linear-gradient(to right top, #333333, #676767, #400000);
  background-size: cover;
  background-position: center;
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-items: center;
  align-items: center;
  grid-gap: 1.5rem;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.header {
  display: grid;
  grid-gap: 0;
  width: 90%;
  text-align: center; }
  .header__header-1 {
    color: #fff;
    display: inline;
    padding: 1.5rem 0; }
    .header__header-1--S-span {
      font-size: 4rem; }
  .header__header-2 {
    padding: 1.5rem 0;
    color: #fff; }
  .header__btn {
    width: 50%;
    justify-self: center; }

.section-1 {
  grid-row: 3 / 4;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .section-1 {
      justify-content: center; } }

.section-2 {
  grid-row: 4 / 5;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .section-2 {
      justify-content: center; } }

.section-3 {
  grid-row: 5 / 6;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .section-3 {
      justify-content: center; } }

.section-4 {
  grid-row: 6 / 7;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .section-4 {
      justify-content: center; } }

.section-5 {
  grid-row: 7 / 8;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .section-5 {
      justify-content: center; } }

.nav {
  background-color: #333333;
  width: 100%;
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
  z-index: 1000;
  grid-gap: 1.5rem;
  position: fixed; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      grid-template-columns: repeat(3, 1fr);
      border-bottom: solid 0.2rem rgba(103, 103, 103, 0.8);
      padding: .5rem; } }
  .nav__brand {
    color: #fff;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: inline; }
    @media only screen and (max-width: 37.5em) {
      .nav__brand {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-items: center;
        justify-self: center;
        text-align: center;
        font-size: 2rem; }
        .nav__brand--S-span {
          font-size: 3rem; } }
  .nav__item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    list-style: none;
    text-transform: uppercase;
    align-self: center;
    justify-items: center; }
    @media only screen and (max-width: 37.5em) {
      .nav__item {
        display: none;
        grid-row: 2/ 3;
        grid-column: 1 / -1;
        width: 100%;
        grid-gap: 0;
        padding: .4rem .5rem;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        justify-self: start;
        border-top: 0.2rem solid #676767;
        height: 0;
        opacity: 0; }
        .nav__item.is-visible {
          animation: slideup 1s;
          display: block;
          height: auto;
          opacity: 1; } }
  @media only screen and (max-width: 37.5em) {
    .nav__list {
      margin-bottom: 1rem;
      padding: .4rem 0; } }
  .nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem; }
    @media only screen and (max-width: 37.5em) {
      .nav__link {
        font-family: "Merriweather", serif; } }
  .nav__social {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .nav__social {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        justify-self: start; } }
  .nav__icon {
    font-size: 2.5rem;
    color: #fff;
    background-color: #333333;
    padding: .5rem; }
    @media only screen and (max-width: 37.5em) {
      .nav__icon {
        font-size: 3rem; } }
  .nav__togglecontainer {
    opacity: 0;
    display: none;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .nav__togglecontainer {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        display: block;
        opacity: 1;
        justify-self: end; } }
  .nav__toggle {
    font-size: 3rem;
    color: #fff; }
    @media only screen and (max-width: 37.5em) {
      .nav__toggle {
        font-size: 4rem;
        padding: 1rem; } }

.tabs-col-4 {
  display: grid;
  grid-gap: 1.5rem; }
  .tabs-col-4__headContainer {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
    justify-items: center; }
  .tabs-col-4__head {
    text-align: center;
    width: 100%;
    cursor: pointer;
    letter-spacing: .5rem; }
    .tabs-col-4__head__headingStyle {
      text-transform: uppercase;
      font-size: 1.6rem;
      text-align: center;
      padding: .5rem; }
  .tabs-col-4__itemsContainer {
    width: 100%;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem; }
    @media only screen and (max-width: 50em) {
      .tabs-col-4__itemsContainer {
        grid-template-columns: repeat(2, 1fr); } }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  color: #666;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif; }

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.container {
  display: grid;
  width: 100%;
  grid-template-rows: min-content 80vh repeat(7, min-content);
  grid-template-columns: [full-start] minmax(8rem, 1fr) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(8rem, 1fr) [full-end];
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: min-content 50vh repeat(6, min-content);
      justify-content: center;
      overflow-x: hidden; } }
  .container .arrow-nav {
    grid-row: 1 / -1;
    align-self: center;
    grid-column: col-end 8 / full-end;
    position: fixed;
    justify-self: end;
    z-index: 9999;
    top: 50%;
    left: 98%;
    transform: translate(-50%, 98%);
    background-color: #666;
    color: #fff;
    padding: 1rem;
    border-radius: 20%; }

a {
  text-decoration: none; }

.heading-1 {
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #333333;
  font-family: "Merriweather", serif; }

.brand-logo {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .2rem;
  font-weight: 600;
  text-align: center;
  margin: auto; }

.S-span {
  font-size: 2.5rem; }

.heading-2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5rem;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Merriweather", serif; }

.heading-3 {
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #333333;
  font-family: "Merriweather", serif; }

.heading-4 {
  letter-spacing: .3rem;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  color: #333333;
  font-family: "Merriweather", serif; }

.about__text {
  text-align: center; }

.expert {
  border-left: solid 0.3rem #008000;
  border-right: solid 0.3rem #008000;
  box-shadow: 0 0 1.5rem #008000;
  font-style: italic;
  margin-left: 1.5rem;
  padding: .4rem; }

.advanced {
  border-left: solid 0.3rem #ff8000;
  border-right: solid 0.3rem #ff8000;
  font-style: italic;
  box-shadow: 0 0 1.5rem #ff8000;
  margin-left: 1.5rem;
  padding: .4rem; }

.U-margin-bottom-lg {
  margin-bottom: 4rem; }

.U-margin-bottom-md {
  margin-bottom: 3rem; }

.U-margin-bottom-sm {
  margin-bottom: 2rem; }

.U-margin-bottom-xs {
  margin-bottom: 1rem; }

.U-margin-top-lg {
  margin-top: 4rem; }

.U-margin-top-md {
  margin-top: 3rem; }

.U-margin-top-sm {
  margin-top: 2rem; }

.U-margin-top-xs {
  margin-top: 1rem; }

.content-heading {
  text-align: center;
  margin: 2rem 0; }

.social-icon {
  font-size: 2.5rem;
  color: #fff;
  padding: .5rem; }
  @media only screen and (max-width: 37.5em) {
    .social-icon {
      font-size: 3rem; } }

.wineBack {
  background-color: #400000;
  color: #fff;
  animation: slideright 1s; }

.greyBack {
  background-color: #333333;
  color: #fff; }
  .greyBack:hover {
    color: #333333;
    background: #fff; }

.hide {
  display: none;
  opacity: 0; }

.show {
  display: block; }

@media only screen and (max-width: 37.5em) {
  .about-section {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-self: center;
    width: 90%; } }
  @media only screen and (max-width: 37.5em) and (max-width: 37.5em) {
    .about-section {
      justify-content: center; } }

.inspiration {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  justify-items: center; }
  .inspiration .about-heading {
    grid-row: 1 / 2; }
  .inspiration .introduction {
    grid-row: 2 / 3;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    justify-items: center; }
    @media only screen and (max-width: 37.5em) {
      .inspiration .introduction {
        grid-template-columns: 1fr; } }
    .inspiration .introduction__subtitle-box {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      width: 100%;
      display: grid;
      grid-gap: 1rem;
      justify-items: center; }
      @media only screen and (max-width: 37.5em) {
        .inspiration .introduction__subtitle-box {
          grid-row: 1 / 2;
          grid-column: 1 / 2; } }
    .inspiration .introduction__subtitle {
      font-size: 1.4rem;
      color: #676767; }
    .inspiration .introduction__img {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      align-self: center;
      width: 80%;
      filter: brightness(50%);
      border-radius: 100%; }
      @media only screen and (max-width: 37.5em) {
        .inspiration .introduction__img {
          grid-row: 2 / 3;
          grid-column: 1 / 2; } }
  .inspiration .inspiration-box {
    display: grid;
    grid-gap: .5rem; }
  .inspiration__heading {
    grid-row: 1 / 2; }
  .inspiration .inspiration-list {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .inspiration .inspiration-list {
        grid-template-columns: repeat(2, 1fr); } }

.inspirations {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: .6rem;
  height: 100%;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  justify-items: center;
  align-items: center;
  text-align: center; }
  .inspirations__icon {
    grid-row: 1 / 2;
    background-image: linear-gradient(to right bottom, #676767, #333333, #800000);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4rem; }
  .inspirations__heading {
    grid-row: 2 / 3; }
  .inspirations__subtitle {
    grid-row: 3 / 4; }

.skill-section {
  background-image: linear-gradient(to right top, #333333, #676767, #400000);
  align-items: center; }

.skills {
  grid-row: 3 / 4;
  display: grid;
  grid-gap: 1.5rem;
  align-items: center;
  justify-items: center;
  width: 80%; }
  .skills .skills-description {
    grid-row: 1 / 2;
    text-align: center;
    color: #fff;
    align-self: center;
    margin-bottom: 4rem; }
  .skills .skills-list {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    justify-items: center; }
    @media only screen and (max-width: 37.5em) {
      .skills .skills-list {
        grid-template-columns: 1fr; } }
    .skills .skills-list .myskills {
      background-color: #f9f7f6;
      display: grid;
      grid-gap: .5rem;
      justify-items: center;
      align-items: center;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2); }
      .skills .skills-list .myskills__img {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.6);
        backface-visibility: hidden;
        transition: all .3s; }
        @media only screen and (min-width: 50em) {
          .skills .skills-list .myskills__img:hover {
            border: 0.4rem solid #676767;
            filter: brightness(0.6);
            transform: scale(1.45);
            z-index: 11; }
          .skills .skills-list .myskills__img:hover + .myskills__hidden-title {
            opacity: 1;
            display: inline-block; } }
      .skills .skills-list .myskills__hidden-title {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: center;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        z-index: 999;
        opacity: 0;
        display: none;
        height: 0; }
      .skills .skills-list .myskills__title {
        background-color: #333333;
        box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
        color: #fff;
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        align-self: end;
        justify-self: center;
        z-index: 10;
        transform: translateY(-80%);
        width: 80%;
        font-size: 1rem;
        padding: 1rem; }
      .skills .skills-list .myskills .skill-subtitle {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5rem;
        grid-row-gap: 3rem;
        justify-items: center;
        align-items: center;
        padding: 1rem;
        text-transform: uppercase;
        font-size: 1.2rem; }
        .skills .skills-list .myskills .skill-subtitle__skill1 {
          grid-row: 1 / 2;
          grid-column: 1 / 2; }
        .skills .skills-list .myskills .skill-subtitle__skill2 {
          grid-row: 1 / 2;
          grid-column: 2 / 3; }
        .skills .skills-list .myskills .skill-subtitle__skill3 {
          grid-row: 2 / 3;
          grid-column: 1 / 2; }
        .skills .skills-list .myskills .skill-subtitle__skill4 {
          grid-row: 2 / 3;
          grid-column: 2 / 3; }

.portfolio {
  display: grid;
  grid-gap: 1.5rem;
  justify-items: center; }
