


.html{
    font-size: 62.5%; //initial page font size 16px

    @media only screen and (max-width: $bp-small) {
        font-size: 50%;
    }
}



body{
     box-sizing: border-box;
    color: $color-grey-dark-1;
    font-weight: 500;
    font-size: .9rem;
    margin: 0 auto;
    font-family: $default-font;
    max-width: 100%;
    overflow: hidden;
    
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container{
    display: grid;
    width: 100%;

    grid-template-rows: min-content 80vh repeat(6, min-content);
    grid-template-columns: [full-start] minmax(8rem, 1fr)[center-start] repeat(8 , [col-start] 1fr [col-end]) [center-end]  minmax(8rem, 1fr)[full-end];

    @media only screen and(max-width: $bp-medium){
        justify-content: center;
    }
}
    
    .footer{
         background-color: $color-yellow;
grid-row: 4 / 5;
        grid-column: full-start / full-end;
       
    }