
.html{
    font-size: 62.5%; //initial page font size 16px
}

body{
    box-sizing: border-box;
}

.container{

    display: grid;
    grid-template-rows: min-content 80vh repeat(5, 1fr);
    grid-template-columns: [full-start] minmax(8rem, 1fr)[center-start] repeat(8 , [col-start] 1fr [col-end]) [center-end]  minmax(8rem, 1fr)[full-end];
   
}

 
    
    
    
    .footer{
         background-color: $color-yellow;
grid-row: 4 / 5;
        grid-column: full-start / full-end;
       
    }