
a{
    text-decoration: none;
}
.heading-1{
text-transform: uppercase;
letter-spacing: .5rem;
font-size: $heading-1-font;
font-weight: 700;
font-family: $heading-font;
}




.brand-logo{
    text-transform: uppercase;
color: $color-white;
letter-spacing: .2rem;
font-weight: 600;
text-align: center;
margin: auto; 
}
.S-span{
font-size: $heading-1-font;
}
.heading-2{
    color: $color-white;
text-transform: uppercase;
letter-spacing: .5rem;
line-height: 2.5rem;
font-size: $heading-2-font;
font-weight: 500;
font-family: $heading-font;
}

.heading-3{
    text-transform: uppercase;
letter-spacing: .5rem;
font-size: $heading-3-font;
font-weight: 700;
text-align: center;
font-family: $heading-font;
}

.heading-4{
letter-spacing: .3rem;
font-size: $heading-4-font;
font-weight: 300;
text-align: center;
font-family: $heading-font;
}
.about__text{
    text-align: center;
}

.expert{
border-left: solid .3rem $color-green;
border-right:  solid .3rem $color-green;
box-shadow: 0 0 1.5rem $color-green;
font-style: italic;
margin-left: 1.5rem;
padding: .4rem
}
.advanced{
border-left: solid .3rem $color-orange;
border-right:  solid .3rem $color-orange;
font-style: italic;
box-shadow: 0 0 1.5rem $color-orange;
margin-left: 1.5rem;
padding: .4rem;
}