.U-margin-bottom-lg{
    margin-bottom: 4rem;
}
.U-margin-bottom-md{
    margin-bottom: 3rem;
}
.U-margin-bottom-sm{
    margin-bottom: 2rem;
}
.U-margin-bottom-xs{
    margin-bottom: 1rem;
}

.U-margin-top-lg{
    margin-top: 4rem;
}
.U-margin-top-md{
    margin-top: 3rem;
}
.U-margin-top-sm{
    margin-top: 2rem;
}
.U-margin-top-xs{
    margin-top: 1rem;
}

.content-heading{
    text-align: center;
    margin: 2rem 0;

}
.social-icon{
    font-size: $heading-1-font;
color: $color-white;
padding: .5rem;

@include respond(phone) { 
            font-size: $heading-font-big;
           
              }
}

.wineBack{
   background-color: $color-wine-dark;
    color: $color-white;
    animation: slideright 1s;

//    &:hover{
//        color: $color-grey-dark-1;
//        background: $color-white;
//    }
}

.animateright{
    animation: slideright 1s;
}


.greyBack{
   background-color:  $color-grey-dark-1;
   color: $color-white;

   &:hover{
       color: $color-grey-dark-1;
       background: $color-white;
   }
}

.hide{
    animation: slideleft 1s;
    display: none;
    opacity: 0;
}
.show{
    display: block;     
                height: auto;     
                  animation: slideright 1s ease-in;
                  opacity: 1;
    
}
.navScroll{
         box-shadow: $box-shadow-pressed-md;
        border-bottom: solid .2rem rgba($color-grey-light-2, .8);  
        background-color: $color-grey-dark-1 ;
        font-size: $heading-4-font !important;
        
}