.U-margin-bottom-lg{
    margin-bottom: 4rem;
}
.U-margin-bottom-md{
    margin-bottom: 3rem;
}
.U-margin-bottom-sm{
    margin-bottom: 2rem;
}
.U-margin-bottom-xs{
    margin-bottom: 1rem;
}

.U-margin-top-lg{
    margin-top: 4rem;
}
.U-margin-top-md{
    margin-top: 3rem;
}
.U-margin-top-sm{
    margin-top: 2rem;
}
.U-margin-top-xs{
    margin-top: 1rem;
}

