$color-primary: #ccc;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #676767;
$color-grey-dark-1: #333333;
$color-white: #fff;
$color-black: #000;

$color-wine-dark: #400000;
$color-wine-light: #800000;
$color-secondary: #800080;
$color-yellow: #ffff00;
$color-green: #008000;
$color-orange: #ff8000;

///BOX-SHADOW
$box-shadow-lg: 0 1.5rem 3rem rgba($color-black, .8);
$box-shadow-md: 0 1.5rem 3rem rgba($color-black, .4);
$box-shadow-sm: 0 1.5rem 3rem rgba($color-black, .2);

$box-shadow-pressed-lg: 0 0.3rem 0.3rem rgba($color-black, .6);
$box-shadow-pressed-md: 0 0.3rem 0.3rem rgba($color-black, .4);
$box-shadow-pressed-sm: 0 0.3rem 0.3rem rgba($color-black, .2);


$font-default: 1.4rem;

//FONT-FAMILY

$heading-font: 'Merriweather', serif;
$default-font: 'Open Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

// FONT
$small-font-size: 1rem;
$default-font-size: 1.2rem;
$heading-font-biggest: 4rem;
$heading-font-big: 3rem;
$heading-1-font: 2.5rem;
$heading-2-font: 2rem;
$heading-3-font: 1.6rem;
$heading-4-font: 1.4rem;

//BORDER
$border-top-light: .2rem solid rgba($color-grey-light-2, 1);
$border-top-dark: .2rem solid rgba($color-grey-dark-1, 1);

$border-bottom-light: .2rem solid rgba($color-grey-light-2, 1);
$border-bottom-dark: .2rem solid rgba($color-grey-dark-1, 1);