$color-primary: #ccc;

$color-grey-light-1: #676767;
$color-grey-dark-1: #333333;
$color-white: #fff;
$color-black: #000;

$color-wine-dark: #400000;
$color-wine-light: #800000;
$color-secondary: #800080;
$color-yellow: #ffff00;