@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: $bp-small) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: $bp-medium) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: $bp-large) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width:  $bp-largest) { @content };    //1800
    }
    
}

@mixin full-layout{
grid-column: full-start / full-end;
        display: grid;
        
grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
       grid-gap: 1.5rem;
       justify-items: center;
       align-items: center;
       text-align: center;
       width: 100%;

       @include respond(phone){
justify-content: center;
               
       }
}


@mixin center-layout{
grid-column: center-start / center-end;
        display: grid;
        
grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
       grid-gap: 1.5rem;
       justify-items: center;
       align-items: center;
       text-align: center;
       width: 100%;

       @include respond(phone){
justify-content: center;
               
       }
}

@mixin col-layout{
grid-column: col-start 3 / col-end 6;
        display: grid;
        
grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
       grid-gap: 1.5rem;
       justify-items: center;
       align-items: center;
       text-align: center;
       width: 100%;

       @include respond(phone){
justify-content: center;
               
       }
}

@mixin itemcenter{
    justify-items: center;
    align-items: center;
    text-align: center;
}