#form-section{
    grid-row: 6 / 7; 
 background-image: linear-gradient(to right bottom, $color-grey-light-2, $color-grey-dark-1, $color-wine-light);

 @include respond(tab-port){
                       @include full-layout;
               }
}
.form{
    
    display: grid;
    grid-gap: 1.5rem;
    @include itemcenter;
    color: $color-white;
  padding: 1.5rem 0;
   
    &__header{
grid-row: 1 / 2;
width: 100%;
align-self: center;
border-bottom: $border-bottom-light;

    }
    &__subtitle{
grid-row: 2 / 3;
color: $color-white !important;
text-align: center;

    }
    &__group-container{

grid-row: 3 / 4;
display: grid;
grid-template-rows: 1fr;
width: 100%;
grid-gap: 1.5rem;

        
    }
    &__group{
            display: grid;
            grid-gap: 1.5rem;
           justify-items: center;
           
        }
         &__label{
grid-row: 1 / 2;
          justify-self: start;
          padding-left: 3rem;

          
          @include respond(tab-land){
              padding-left: 2.5rem;
          }
          @include respond(phone){
              padding-left: 3rem;
          }
          
          


            }
         &__input{
             grid-row: 2 / 3;
           width: 90%;
             position: relative;
                
                padding: 1rem;

                &:valid{
border-color: black;
                }
                &:invalid{
border-color: red;
                }

                
           }
            &__submit{
                grid-row: 3 / 4;
                width: 90%;
            }
}

.emailInvalid{
    color: $color-red;
    animation: slideup 3s;
    display: none;
}