.head{
        background-image: linear-gradient(rgba($color-grey-light-1, .8), rgba($color-grey-dark-1, .9)),url(../img/header.jpg);
        background-size: cover;
        background-position: center;
        grid-row: 2 / 3;
        grid-column: full-start / full-end;
        text-align: center;
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 1.5rem;
        width: 100%;
    }


    .header{
        
    }
    