.head{
       

        background-image: linear-gradient(to right top, $color-grey-dark-1,$color-grey-light-2, $color-wine-dark);
        background-size: cover;
        background-position: center;
        grid-row: 2 / 3;
        grid-column: full-start / full-end;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        justify-items: center;
        align-items: center;
        grid-gap: 1.5rem;
        width: 100%;
    }
.header{
    display: grid;
    grid-gap: 0;
    width: 90%;
text-align: center;
&__header-1{
        color: $color-white;
        
        padding: 1.5rem 0;
        &--S-span{
font-size: 4rem;
        }
    }
    &__header-2{
       padding: 1.5rem 0;
        color: $color-white;
        
    }
    &__btn{
        width: 50%;
        justify-self: center;
}
}
    