.section-about{
grid-row: 3 / 4;
        grid-column: center-start / center-end;
      
    }

    .about{

        display: grid;
         grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
         grid-gap: 1.5rem;

        &__content{
                background-color: $color-white;
                box-shadow: 0 1.5rem 3rem rgba($color-black, .6);
                width: 80%;
                padding: 1rem;
                margin: 0 auto;
        }
        &__inspiration{
                display: grid;
                
        grid-template-columns: repeat(min-content, 1fr);
        grid-row-gap: 1.5rem;
        grid-column-gap: 2.5rem;
                text-align: center;
                &::after{
                        content: "";
                        display: block;
                        font-size: 1rem;
                        background-color: $color-grey-dark-1;
                }
        }
         &__design{
                 grid-row: 1/ 2;
        grid-column: 1/ 2;
                }
                 &__responsive{
                         grid-row: 1/ 2;
        grid-column: 2/ 3;
                }
                 &__dynamic{
                         grid-row: 1/ 2;
        grid-column: 3/ 4;
                }
                 &__speed{
                         grid-row: 1/ 2;
        grid-column: 4/ 5;
                }


                &__icon-container{
        
                       
                }
                &__icon{
                        background-image: linear-gradient(to right bottom, $color-wine-light, $color-grey-dark-1,$color-grey-light-1);
                         -webkit-background-clip: text;
        color: transparent;
        font-size: 5rem;
                }
                &__subtitle{

                }
//////////////////////////////////////////////////Content end

        &__skills{

        }
    }