.nav{
     background-color: $color-grey-dark-1 transparent;
    width: 100%;
     grid-column: full-start / full-end; 
     grid-row: 1 / 2;
        display: grid; 
        grid-template-columns: repeat(3, 1fr);  
        justify-items: center;
        align-items: center;
          font-size: $default-font-size;
          
        z-index: 1000;
        grid-gap: 1.5rem;
        position: fixed;
        @include respond(min-tab-port){
            
        }
@include respond(phone) {
    background-color: $color-grey-dark-1;
  grid-template-columns: repeat(3, 1fr); 
   box-shadow: $box-shadow-pressed-md;   
  padding: .5rem;
 
        }

        
        
&__brand{
    color: $color-white;
      grid-row: 1 / 2;
        grid-column: 1 / 2;
        font-size: $heading-3-font;
    text-transform: uppercase;
    display: inline;

       @include respond(phone) {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            align-items: center;
            justify-self: center;
            text-align: center; 
            font-size: 2rem;   
            &--S-span{
                font-size: 3rem; 
                
            } 
        }

    }

    &__item{
       
        display: grid; 
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 1rem;
            list-style: none;
            text-transform: uppercase;
            align-self: center;
    justify-items: center;
    

       @include respond(phone) {
            display: none;
            grid-row: 2/ 3;
            grid-column: 1 / -1;
            width: 100%;
            grid-gap: 0;
            padding: .4rem .5rem;
            grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));  
           justify-self: start;
           border-top: .2rem solid rgba($color-grey-light-2, 1);
           height: 0;
            opacity: 0;
            
            &.is-visible{
                animation: slideup 1s;
                display: block;     
                height: auto;     
                opacity: 1;                     
    }
        }
  
    }
    
   

        

    &__list{

            color: $color-white;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                border-bottom: $border-bottom-ex-light; 
            }
            @include respond(phone) {
        }


      @include respond(phone) {
            margin-bottom: 1rem;
            padding: .4rem 0;
             font-family: $heading-font;        
        }

    }
        //     &__link {
        //     color: $color-white;
        //     text-decoration: none;
        //     font-size: $heading-4-font;
        //     @include respond(phone) {
         
        //     font-family: $heading-font;

        // }
        // }
        
&__social{
            grid-row: 1 / 2;
          grid-column: 3 / 4;
          justify-self: center;
        display: grid; 
        
           grid-template-columns:  repeat(2, 1fr);
              align-items: center;
             @include respond(phone) { 
            grid-row: 1 / 2;
        grid-column: 1 / 2;
           justify-self: start;
           
          
              }
    }
    
    &__icon{
            
           font-size: $heading-1-font;
color: $color-white;
background-color: $color-grey-dark-1;
padding: .5rem;

            

@include respond(phone) { 
            font-size: $heading-font-big;
           
              }
    }

    &__togglecontainer{
opacity: 0;
    display: none;
    cursor: pointer;

    @include respond(phone) {
        grid-row: 1 / 2;
    grid-column: 3 / 4;
        display: block;
        opacity: 1;
        justify-self: end;
        
    }

    }
       
&__toggle{
    
    font-size: $heading-font-big;
    color: $color-white;
    
    @include respond(phone){
        font-size: $heading-font-biggest;
        
           padding: 1rem;
    }
    
}



}

/// EXTRA CLASSES FOR JS



            

           

            
    




