.nav{
     background-color: $color-grey-dark-1;
    width: 100%;
     grid-column: full-start / full-end; 
     grid-row: 1 / 2;
        display: grid; 
        grid-template-columns: repeat(3, 1fr);  
        justify-items: center;
        align-items: center;
        z-index: 1000;
        grid-gap: 1.5rem;
@include respond(phone) {
    
  grid-template-columns: repeat(3, 1fr); 
  border-bottom: solid .2rem rgba($color-grey-light-2, .8);     
  padding: .5rem;
 
        }

        
        
&__brand{
    color: $color-white;
      grid-row: 1 / 2;
        grid-column: 1 / 2;
        font-size: $heading-3-font;
    text-transform: uppercase;

       @include respond(phone) {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            align-items: center;
            justify-self: center;
            text-align: center; 
            font-size: 2rem;   
            &--S-span{
                font-size: 3rem; 
                
            } 
        }

    }

    &__item{
       
        display: grid; 
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 1rem;
            list-style: none;
            text-transform: uppercase;
            align-self: center;
    justify-items: center;
    

       @include respond(phone) {
            display: block;
            grid-row: 2/ 3;
            grid-column: 1 / -1;
            width: 100%;
            grid-gap: 0;
            padding: .4rem .5rem;
            grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));  
           justify-self: start;
           border-top: .2rem solid rgba($color-grey-light-2, 1);
           
        //     opacity: 0;
        //    display: none;
             
        }
  
    }
    &__displayitem{
        opacity: 1;
        display: block;
        transition: ease-in all 2s;
    }

        

    &__list{

      @include respond(phone) {
            margin-bottom: 1rem;
            padding: .4rem 0;
        }

    }
            &__link {
            color: $color-white;
            text-decoration: none;
            
            @include respond(phone) {
            font-size: 2rem;
            font-family: $heading-font;
        }
        }
        
&__social{
            grid-row: 1 / 2;
          grid-column: 3 / 4;
          justify-self: center;
        display: grid; 
           grid-template-columns:  repeat(2, 1fr);
              align-items: center;
             @include respond(phone) { 
            grid-row: 1 / 2;
        grid-column: 1 / 2;
           justify-self: start;
           font-size: $heading-font-big;
           box-shadow: $box-shadow-pressed-sm;
           border-right: .2rem solid rgba($color-grey-light-2, .9);
              }
    }
    
    &__icon{
            
            font-size: 1.5rem; 
color: $color-white;
background-color: $color-grey-dark-1;
padding: .5rem;
box-shadow: 1.5 rgba($color-white, .7);
            

@include respond(phone) { 
            
           font-size: $heading-font-big;
              }
    }

    &__togglecontainer{
opacity: 0;
    display: none;
    cursor: pointer;

    @include respond(phone) {
        grid-row: 1 / 2;
    grid-column: 3 / 4;
        display: block;
        opacity: 1;
        justify-self: end;
        
    }

    }
       
&__toggle{
    
    font-size: $heading-font-big;
    color: $color-white;
    
    @include respond(phone){
box-shadow: $box-shadow-pressed-sm;
        border-left: .2rem solid rgba($color-grey-light-2, .9);
           padding: 1rem;
    }
    
}



}
